.cv-item {
    display: flex;
    align-items: center;
}


.delete-button, .download-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.delete-button img, .download-link {
    width: 24px;
    height: 24px;
}

.delete-button {
    margin-left: 10px; /* Add margin between delete button and download link */
}