{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        {#        <a class="navbar-brand" href="{% url 'home_view' %}">#}
        {#            <img src="{% static 'no_image.png' %}" alt="Logo" width="30" height="24"#}
        {#                 class="d-inline-block align-text-top">#}
        {#            #}
        {#        </a>#}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home_view' %}">Home</a>
                </li>

                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="dropdown-item" type="submit">
                                        Logout, {{ request.user.username }}</button>
                                </form>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                            </li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="/admin">Django Admin</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button"
                                                     data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'cv_list' %}">CV List</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_cv' %}">Add CV</a></li>
                            <li><a class="dropdown-item" href="#">Delete CV</a></li>
                        </ul>

                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Registration
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'login' %}">Sign in</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'create-user' %}">Sign up</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'password_reset' %}">Password reset</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item"><a class='nav-link' href={% url 'contact' %}>Contact</a></li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>